<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<mat-card >
  <mat-card-header>
    <mat-card-title><h3>
      Imię i nazwisko pacjenta: &nbsp;<b>{{name}} {{surname}}</b>
    </h3></mat-card-title>
  </mat-card-header>
  <mat-card-content class="ml-3"><h5>

    Wzrost: {{height}}cm   &nbsp; &nbsp;   Waga: {{patientWeight}} {{patientWeight ? 'kg' : 'Brak danych'}}
      &nbsp; &nbsp;BMI: {{patientBmi}} {{patientBmi ? '' : 'Brak Danych'}}</h5>

  <hr>
  </mat-card-content>

  <mat-card>
    <form #examForm="ngForm" (ngSubmit)="save(examForm.value)">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Waga" [(ngModel)]="examToSend.weight"
               required name="weight" #weight minlength="2">
      </mat-form-field>


      <app-date-picker placeholder="Data Badania" name="date" required [(ngModel)]="examToSend.date" >
      </app-date-picker>

      <mat-card-actions>
        <button mat-raised-button type="submit"
                [disabled]="!examForm.form.valid">Dodaj badanie</button>
        <a mat-raised-button routerLink="/patients/edit/{{examToSend.patient_id}}" class="mt-3 mb-1 btn-dark">Edytuj Pacjenta</a>
        <button mat-raised-button type="button" (click)="remove(examToSend.patient_id)" *ngIf="examToSend.patient_id" >Usuń Pacjenta</button>
        <a mat-button routerLink="/patients" class="mt-3 mb-1" >Powrót do listy</a>
      </mat-card-actions>
    </mat-card-content>
    </form>
  </mat-card>

  <mat-card>
    <mat-card-header><mat-card-title>Lista Badań:</mat-card-title></mat-card-header>
    <mat-card-content>

    <table class="table table-bordered w-75 text-center">
      <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Waga</th>
        <th scope="col">BMI</th>
      </tr></thead>
      <tbody>
      <tr *ngFor="let exam of examList">
        <td>{{exam.date}}</td>
        <td>{{exam.weight}}</td>
        <td>{{exam.bmi}}</td>
      </tr>
      </tbody>
    </table></mat-card-content>
  </mat-card>
</mat-card>




<div>
  <canvas id="canvas"></canvas>
</div>
<div>
  <canvas id="canvas1"></canvas>
</div>
<div>
<canvas id = "myChart"></canvas></div>
<script>var ctx = document.getElementById('myChart').getContext('2d');
let chart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'line',

  // The data for our dataset
  data: {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45]
    }]
  },

  // Configuration options go here
  options: {}
});</script>


