<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<mat-card >
  <mat-card-header>
    <mat-card-title><h2>
      {{name}} {{surname}}
    </h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Wzrost: {{height}} cm waga:
  </mat-card-content>
  <mat-card>
    <mat-card-header><mat-card-title>Lista Badań:</mat-card-title></mat-card-header>
    <mat-card-content>
    <table class="table table-bordered w-75 text-center">
      <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Waga</th>
        <th scope="col">BMI</th>
      </tr></thead>
      <tbody>
      <tr *ngFor="let exam of examList">
        <td>{{exam.date}}</td>
        <td>{{exam.weight}}</td>
        <td>{{exam.bmi}}</td>
      </tr>
      </tbody>
    </table></mat-card-content>
  </mat-card>
</mat-card>




<div>
  <canvas id="canvas"></canvas>
</div>
<div>
  <canvas id="canvas1"></canvas>
</div>
<div>
<canvas id = "myChart"></canvas></div>
<script>var ctx = document.getElementById('myChart').getContext('2d');
let chart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'line',

  // The data for our dataset
  data: {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45]
    }]
  },

  // Configuration options go here
  options: {}
});</script>


